<!-- _layout/default -->
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>风云(中国第一本企业家自传)，目光呆滞的润土</title>
	<link rel="stylesheet" href="main.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">

</head>
<body class="welcome">

	<div class="header">

		<div class="container clearfix">
			<ul class="nav">
				<li class="current"><a href="">Home</a></li>
				<li><a href="">Blog</a></li>
				<li><a href="about.html">About</a></li>
			</ul>			
		</div>


		<a href="index.html" class="logo">R</a>
	</div>
<!-- _layout/default -->


<!-- main content -->
{{content}}


<!-- _layout/default -->
	<div class="footer">
		<div class="container clearfix">
			<ul class="icon-wrapper">
				<li class="icon github"><a href="http://github.com/resayinfo">  <i class="fa fa-github-alt"></i> </a></li>
				<li class="icon email"><a href="mailto:sinotao1@gmail.com"> <i class="fa fa-envelope-o"></i> </a></li>
				<li class="icon weibo"><a href="http://weibo.com/1907929392"> <i class="fa fa-weibo"></i> </a></li>
			</ul>
		</div>
	</div>

</body>
</html>
<!-- _layout/default -->